<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout (conteudo)">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="desenvolvimento de websites, soluçoes de SEO para rankear no Google de forma organica, web designer e desenvolvedor web freelancer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#5f5eaa">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/img/img_fundo/dev.webp">
  <link rel="apple-touch-icon" href="/img/img_fundo/responsive.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="../../css/w3.css" th:href="@{/css/w3.css}"/>
  <link rel="stylesheet" type="text/css" media="all" href="../../css/layout.css" th:href="@{/css/layout.css}"/>
  <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" type="text/css" media="all" href="../../css/about.css" th:href="@{/css/about.css}"/>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Desenvolvimento Web Freelancer</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
  <div>
    <!------------------------------------------ Icon Bar (Sidebar - hidden on large screens)---------------------------- &emsp; -->
    <nav class="w3-bar w3-small w3-hide-small  w3-black" id="menu">
      <!------------------------------------------------- AD image --------------------------------------------------------->
      <img src="/img/img_fundo/dev.webp" alt="logo" class="w3-image w3-circle w3-center w3-margin-top" width="70" height="70">
      <div class="w3-right w3-margin-left">
      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-large"></i>
        <p>INICIO</p>
      </a>
      <a href="/#servicos" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-wrench w3-large"></i>
        <p>SERVIÇOS</p>
      </a>
      <a href="/#portfolio" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-folder-open w3-large"></i>
        <p>PORTFOLIO</p>
      </a>
      <a href="/#contato" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-envelope w3-large"></i>
        <p>CONTATO</p>
      </a>
      <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-user w3-large"></i>
        <p>SOBRE</p>
      </a>
    </div>
    </nav>
  </div>
  <!---------------------------------- Navbar on small screens (Hidden on medium and large screens) ------------------------------->
  <div class="w3-top w3-hide-large w3-hide-medium">
    <div class="w3-bar w3-black w3-left w3-small">
      <i class="fa fa-bars w3-hover-opacity w3-large w3-padding-large" id="menu_small_screens"></i>
    </div>
    <div id="bar"></div>
  </div>
  <!---------------------------------- Main or Home ------------------------------->
  <div class="container">
    <main th:include="${conteudo}">

    </main>
  </div>
  <!---------------------------------------------- Footer ----------------------------------------------------->
  <footer class="w3-container w3-left w3-text-black w3-black">
    <div class="w3-content" id="social">
      <p class="w3-black" style="font-size:15px;color:rgb(255, 255, 255)">
        <i class="fa fa-phone w3-hover-opacity w3-black  w3-xlarge"></i>
        &nbsp; (81)98819-0488
      </p>
      <p class="w3-black"style="font-size:15px;color:rgb(255, 255, 255)">
        <i class="fa fa-envelope w3-hover-opacity w3-black w3-xlarge"></i>
        &nbsp; jonataneduardo777@gmail.com
      </p>
      <p class="w3-black" style="font-size:15px;color:rgb(255, 255, 255)">
        <i class="fa fa-whatsapp w3-hover-opacity w3-black w3-xlarge"></i>
        &nbsp; (81)98819-0488
      </p>
      <p class="w3-black" style="font-size:15px;color:rgb(255, 255, 255)">
        <i class="fa fa-map-marker w3-hover-opacity w3-black w3-xlarge"></i>
        &nbsp; Paulista PE
      </p>
      <p class="w3-black" style="font-size:15px;color:rgb(255, 255, 255)">
        <i class="fa fa-linkedin w3-hover-opacity w3-black w3-xlarge"></i>
        &nbsp; <a href="https://www.linkedin.com/in/jonatan-eduardo-2018aa18a">linkedin</a>
      </p>
    </div>
    <p class="w3-center w3-black" id="corprite" style="font-size:13px;color:rgb(255, 255, 255)">&copy; 2023 - Desenvolvimento Web Freelancer</p>
  </footer>
  <script src="../../js/events.js"></script>
<script src="../../js/menu_small_screens.js"></script>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('//sw.js', { scope: '//' })
    .then(() => {
      console.log('Service Worker registrado com sucesso.');
    }).catch(error => {
      console.log('Service Worker falhou:', error);
    });
  }
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>