<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout (~{:: main})}">
<main>
  <div class="w3-container w3-padding-32 w3-content">
    <div class="descricao">
      <p class="w3-text-black">Desenvolvedor Web Freelancer</p>
    </div>
    <header class="w3-container w3-center">
      <img src="/img/img_fundo/dev.webp" alt="Development" class="w3-image" width="700" height="800">
    </header>
  </div>
  <br>
  <br>
  <br>
  <div class="w3-card-4 w3-padding-16 w3-content w3-margin-bottom" data-aos="fade-left" data-aos-duration="3000" id="card" style="width:70%">
    <div class="w3-container">
      <p id="texto_inicial" style="text-shadow:o.5px 0.5px 0 #0e0d0d">
        Um dos benefícios de ter um site é que ele pode ajudar a expandir o alcance do seu negócio
        permitindo que as pessoas o encontrem de forma online e entrem em contato com você facilmente. 
        Ter um site eficaz e atraente pode até elevar as vendas que você não teria feito de outra forma.
      </p>
    </div>
  </div>
  <br>
    <div class="w3-card-4 w3-padding-16 w3-content w3-margin-bottom" data-aos="fade-right" data-aos-duration="3000" id="card" style="width:70%">
     <div class="w3-container">
        <p id="texto_inicial" style="text-shadow:o.5px 0.5px 0 #0e0d0d">
          Uma empresa sem um site dificilmente cresce de forma significativa hoje em dia. 
          Considerando que uma parcela cada vez maior de pessoas buscam por produtos e serviços primeiramente pela internet,
          estar presente nesse espaço é um dos melhores caminhos para o crecimento do seu négocio.
        </p>
     </div>
    </div>
    <br>
    <br>  
  <!-----------------------------------------------SERVIÇOS------- w3-jumbo--------------------------------------------------------->
  <div class="w3-content w3-justify w3-text-black"  id="servicos" data-aos="zoom-in" data-aos-duration="3000" style="width:70%">
    <h2 class="w3-text-light-black">Serviços</h2>
    <hr style="width:200px">
   
      
        <ul class="w3-ul w3-white w3-center w3-xlarge">
          <p class="w3-dark-grey w3-xlarge w3-padding-32">Criação, Hospedagem e Manutenção</p>
          <li id="2" class="w3-padding-16">BLOG</li>
          <li id="7" class="w3-padding-16">CATÁLAGO DIGITAL</li>
          <li id="1" class="w3-padding-16">INSTITUCIONAL</li>
          <li id="3" class="w3-padding-16">LOJA VIRTUAL</li>
          <li id="5" class="w3-padding-16">PAGINA UNICA</li>
          <li id="4" class="w3-padding-16">PORTFÓLIO</li>
          <li id="6" class="w3-padding-16">PWA</li>
        </ul>
<br>
<br>
<br>
<br>
    <!------------------------------------------------------Portfolio--------------------------------------------------------------->
    <div class="w3-padding-64 w3-content" data-aos="zoom-in" data-aos-duration="3000" id="portfolio">
      <h2 class="w3-text-light-black">PORTFÓLIO</h2>
      <hr style="width:200px">
      &emsp;
      <div class="w3-row-padding">
        <div class="w3-col s4">
          <a href="https://peladadomaruim.online"><img src="/img/img_fundo/pelada_maruin.webp" class="portfolio_imagems" alt="portfolio1"></a>
          <p class="w3-center"style="font-size:16px;color:rgb(0, 0, 0)">
            pwa
          </p>  
        </div>
        <div class="w3-col s4">
          <a href="https://servicosdepedreiro.site/"><img src="/img/img_fundo/construcao.webp" class="portfolio_imagems" alt="portfolio2"></a>
          <p class="w3-center"style="font-size:16px;color:rgb(0, 0, 0)">
            portfólio
          </p>
        </div>
        <div class="w3-col s4">
          <a href="http://181.215.135.83:8181"><img src="/img/img_fundo/yoga.webp" class="portfolio_imagems"  alt="portfolio3"></a>
          <p class="w3-center"style="font-size:16px;color:rgb(0, 0, 0)">
           lading page
          </p>
        </div>
        <div class="w3-col s4">
          <a href="https://webdesignerfreelancer.site"><img src="/img/img_fundo/webdesing.webp" class="portfolio_imagems"  alt="portfolio4"></a>
          <p class="w3-center"style="font-size:16px;color:rgb(0, 0, 0)">
            lading page
          </p>
        </div>
        <div class="w3-col s4">
          <a href="https://manutencaopredial.website"><img src="/img/img_fundo/manutencao.webp" class="portfolio_imagems" alt="portfolio5"></a>
          <p class="w3-center"style="font-size:16px;color:rgb(0, 0, 0)">
            portfólio
           </p>
        </div>
      
        <div class="w3-col s4">
          <a href="http://181.215.135.83:8186"><img src="/img/img_fundo/loja_virtual.png" class="portfolio_imagems" alt="portfolio6" ></a>
          <p class="w3-center"style="font-size:16px;color:rgb(0, 0, 0)">
            Catálogo Digital
           </p>
        </div>

        <div class="w3-col s4">
          <a href="https://instalacaoemanutencaodear.site"><img src="/img/img_fundo/ar2.webp" class="portfolio_imagems" alt="portfolio6" ></a>
          <p class="w3-center"style="font-size:16px;color:rgb(0, 0, 0)">
            pagina única
           </p>
        </div>

      </div>
      &emsp;
      <div class="w3-row-padding w3-margin-top">
        <div class="w3-col s4">
          <a href="/"><img src="/img/img_fundo/waiting.avif" alt="waiting" width="80" height="80"></a>
        </div>
      </div>
    </div>
    <!------------------------------------------------------CONTATO------------------------------------------------------------------------->
    <div class="w3-padding-16 w3-content w3-text-black" data-aos="zoom-in" data-aos-duration="3000"  id="contato">
      <h2 class="w3-text-light-black w3-padding-16"><i class="fa fa-envelope fa-fw w3-text-black w3-xxlarge w3-margin-right"> </i></h2>
      <hr style="width:200px">
      <div class="w3-section">
        <p>Vamos entrar em contato?</p>
        
        
      </div>
      
<!----------
      <form th:action="@{/send}" th:object="${email}" method="post">
        <p><input class="w3-input w3-padding-16" type="text" field="*{nome}" name="nome" placeholder="Nome"></p>
        <p><input class="w3-input w3-padding-16" type="text" field="*{fone}" name="fone" placeholder="Fone"></p>
        <p><input class="w3-input w3-padding-16" type="text" field="*{email}" name="email" placeholder="Email"></p>
        <p><input class="w3-input w3-padding-16" type="text" field="*{descricao}" name="descricao" placeholder="Descrição"></p>
        <p>
          <button class="w3-button w3-light-black w3-padding-large" type="submit">
            <i class="fa fa-paper-plane"></i> ENVIAR
          </button>
        </p>
      </form>
--------------------->
   </div>
    <br>
<br>
<br>
</main>
</html>