<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout (~{:: main})}">
<main>
  <!--About Section 1-->

  
  <div class="w3-content w3-justify w3-text-black w3-padding-64" id="about">
      <div class="w3-container w3-left">
        <img src="/img/img_fundo/eduardo.png" alt="boy" class="w3-image w3-circle" width="80" height="80">
        <br>
        <h1>Desenvolvedor Web Freelancer</h1>
          <p style="font-size:15px;color:rgb(0, 0, 0)">NOME:&nbsp;&nbsp;Eduardo Jonatan </p>
          <p style="font-size:15px;color:rgb(0, 0, 0)"> FORMAÇÂO:&nbsp;&nbsp; Analise e Desenvolvimento de sistemas, Ciência de dados</p>
          <p style="font-size:15px;color:rgb(0, 0, 0)">EXPERIÊNCIA:&nbsp;&nbsp;desenvolvedor web desde 2016</p>
      </div>
      <!--fim About Section 2-->
      <div class="w3-container w3-content w3-justify w3-text-black w3-padding-16" >
        <h3 class="w3-padding-16 w3-text-black">Habilidades</h3>
        &emsp;
        <p class="w3-wide w3-text-black">Back-End</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:80%"></div>
        </div>
        <p class="w3-wide w3-text-black">Fronf-End</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:70%"></div>
        </div>
        <p class="w3-wide w3-text-black">Web Design</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:60%"></div>
        </div>
        <p class="w3-wide w3-text-black">UX/UI</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:60%"></div>
        </div>

        <p class="w3-wide w3-text-black">Webmaster</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:68%"></div>
        </div>
        <br>
        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">80%</span><br>
            Back-End
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">70%</span><br>
            Fronf-End
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">60%</span><br>
            Web Design
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">60%</span><br>
            UX/UI
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">68%</span><br>
            Webmaster
          </div>
        </div>
        <!-- fim My Skills -->
        <!-- Grid for pricing tables -->
        &emsp;
        <h3 class="w3-padding-64 w3-text-black">Hard Skills</h3>
        &emsp;
        <div class="w3-row-padding">
          <div class="w3-half w3-margin-bottom w3-padding-16">
            <ul class="w3-ul w3-white w3-center">
              <li class="w3-dark-grey w3-xlarge w3-padding-32">BACK-END</li>
              <li class="w3-padding-16">Springboot</li>
              <li class="w3-padding-16">Java</li>
              <li class="w3-padding-16">Node.js</li>
              <li class="w3-padding-16">Express.js</li>
              <li class="w3-padding-16">Docker</li>
              <li class="w3-padding-16">Git & GitHub</li>
              <li class="w3-padding-16">Mysql</li>
              <li class="w3-padding-16">Postgres</li>
              <li class="w3-padding-16">Mongo db</li>
              <li class="w3-padding-16">Sistemas Monolíticos</li>
              <li class="w3-padding-16">Sistemas de Microsserviços</li>
            </ul>
          </div>
          <div class="w3-half w3-margin-bottom w3-padding-16">
            <ul class="w3-ul w3-white w3-center">
              <li class="w3-dark-grey w3-xlarge w3-padding-32">FRONT-END</li>
              <li class="w3-padding-16">html</li>
              <li class="w3-padding-16">css</li>
              <li class="w3-padding-16">javascript</li>
              <li class="w3-padding-16">bootstrap</li>
              <li class="w3-padding-16">w3.css</li>
              <li class="w3-padding-16">react</li>
              <li class="w3-padding-16">Thymeleaf</li>
              <li class="w3-padding-16">Mobile First</li>
              <li class="w3-padding-16">Design Responsivo</li>
              <li class="w3-padding-16">Progressive Web App (PWA)</li>
              <li class="w3-padding-16">Single Page Applications (SPA)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="w3-card-4 w3-padding-16 w3-content w3-margin-bottom" data-aos="fade-right" data-aos-duration="2000" id="card" style="width:68%">
      <div class="w3-container">
        <h4>Perfil</h4>
         <p id="texto_inicial" style="text-shadow:o.5px 0.5px 0 #0e0d0d">
          Desenvolvedor web criativo dedicado ao desenvolvimento de websites interactivos
          fáceis de utilizar e ricos em funcionalidades como também websites minimalistas, originais, elegantes e eficientes.
         </p>
      </div>
     </div>
  <br>
  <br>
</main>
</html>