<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout (~{:: main})}">

<main>
  <!--About Section 1-->
  <div class="w3-content w3-justify w3-text-black w3-padding-64" id="about">
    <h3 class="w3-text-black"><img src="/img/img_fundo/eduardo.png" alt="boy" class="w3-image w3-circle" width="80" height="80"> 
       </h3>
      
       <!---  <div class="w3-card-4" id="card" style="width:70%">  -->
      <div class="w3-container w3-large">
        <p>
          NOME:&nbsp;&nbsp;&nbsp; Jonatan Eduardo <br>
          FORMAÇÂO:&nbsp;&nbsp;&nbsp; tecnológo analise de sistemas <br>
          EXPERIÊNCIA:&nbsp;&nbsp;&nbsp; desenvolvedor web desde 2015
          
          

        </p>
      </div>


      <!--fim About Section 2-->
      <div class="w3-container w3-content w3-justify w3-text-black w3-padding-16">


        <h3 class="w3-padding-16 w3-text-black">Habilidades</h3>
        &emsp;

        <p class="w3-wide w3-text-black">Back-End</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:75%"></div>
        </div>
        <p class="w3-wide w3-text-black">Fronf-End</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:60%"></div>
        </div>
        <p class="w3-wide w3-text-black">Web Design</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:65%"></div>
        </div>
        <p class="w3-wide w3-text-black">Mobail</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:40%"></div>
        </div><br>

        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">75%</span><br>
            Back-End
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">60%</span><br>
            Fronf-End
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">70%</span><br>
            Web Design
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">40%</span><br>
            Mobail
          </div>
        </div>
        <!-- fim My Skills -->

        <!-- Grid for pricing tables -->
        &emsp;
        <h3 class="w3-padding-64 w3-text-black">Conhecimentos</h3>
        &emsp;

        <div class="w3-row-padding">

          <div class="w3-half w3-margin-bottom w3-padding-16">
            <ul class="w3-ul w3-white w3-center">
              <li class="w3-dark-grey w3-xlarge w3-padding-32">BACK-END</li>
              <li class="w3-padding-16">Springboot</li>
              <li class="w3-padding-16">Java</li>
              <li class="w3-padding-16">Mysql</li>
              <li class="w3-padding-16">Postgres</li>
              <li class="w3-padding-16">Docker</li>
              <li class="w3-padding-16">Git</li>
            </ul>
          </div>

          <div class="w3-half w3-margin-bottom w3-padding-16">
            <ul class="w3-ul w3-white w3-center">
              <li class="w3-dark-grey w3-xlarge w3-padding-32">FRONT-END</li>
              <li class="w3-padding-16">html</li>
              <li class="w3-padding-16">css</li>
              <li class="w3-padding-16">bootstrap</li>
              <li class="w3-padding-16">javascript</li>
              <li class="w3-padding-16">react</li>
              <li class="w3-padding-16">Flutter</li>
            </ul>
          </div>

        
        </div>

      </div>
 
    </div>
    <br>
    <br>
    <br>
    <br>
</main>

</html>